back/deps/*

back/Database/Configuration/*
!back/Database/Configuration/.gitkeep
!back/Database/Configuration/.pattern.json

back/Database/Users/*
!back/Database/Users/.gitkeep
!back/Database/Users/.pattern.json

back/Database/Categories/*
!back/Database/Categories/.gitkeep
!back/Database/Categories/.pattern.json

front/node_modules