<img src='{{WhiteNoise}}' class="white-noise">
<section id="home">
    <div class="container">
        <div class="title pds-color-light">
            <div class="left">
                <h1 class="pds-text-size-96 pds-text-weight-900">La capote.</h1>
                <h2 class="pds-text-size-64 pds-text-weight-400">Réimaginée.</h2>
            </div>
            <div class="right">
                <img src="{{Icon}}" class="condom-icon" alt="Condom Icon">
            </div>
        </div>
    </div>
</section>