<div class="container">
    <h1 class="pds-text-size-32 pds-text-weight-900">Connexion</h1>
    <div class="top">
        <form onsubmit="return false;">
            <div class="email pds-border-2 pds-border-color-light pds-radius-4">
                <label for="email"><img src="{{MailIcon}}" alt="Mail Icon"></label>
                <input type="email" name="email" id="email" class="pds-text-size-16 pds-text-weight-600" placeholder="E-Mail" required>
            </div>
            <div class="password pds-border-2 pds-border-color-light pds-radius-4">
                <label for="password"><img src="{{LockIcon}}" alt="Lock Icon"></label>
                <input type="password" name="password" id="password" class="pds-text-size-16" placeholder="Mot de passe" required>
            </div>
            <div class="submit pds-button pds-bg-color-accent pds-radius-4">
                <input type="submit" value="Connexion" class="pds-button pds-text-size-16 pds-text-weight-600">
            </div>
        </form>
        <a href="/signup" class="signup pds-button pds-color-secondary pds-text-size-16 pds-text-weight-600">Inscription</a>
    </div>
</div>