<header id="navbar">
    <nav class="container">
        <div class="left pds-color-light">
            <a class="pds-font-rozhaone pds-text-size-48">Profit</a>
            <a class="pds-text-size-24">Interne</a>
            <a class="pds-text-size-24">Externe</a>
        </div>
        <div class="right">
            <button class="pds-button pds-bg-color-tertiary">Connexion</button>
            <button class="pds-button pds-bg-color-accent ">Inscription</button>
        </div>
    </nav>
</header>