<header id="navbar">
    <nav class="container">
        <div class="left pds-color-light">
            <a class="pds-font-rozhaone pds-text-size-48" href="/">Profit</a>
            <a class="pds-text-size-20">Interne</a>
            <a class="pds-text-size-20">Externe</a>
            <a class="pds-text-size-20" href="/about">A propos</a>
        </div>
        <div class="right">
            {{UserName}}
            <a class="pds-button pds-icon pds-bg-color-accent pds-radius-8" href="/login"><img src="{{AccountIcon}}" alt="Account Icon"></a>
        </div>
    </nav>
</header>