<header>
    <div class="container">
        <div class="grid-row">
            <div class="left grid-col-6">
                <p class="text-size-48 text-color-white text-font-rozhaone">Profit</p>
            </div>
            <div class="right grid-col-6">
                <div class="pos-right vertical-center" style="margin-top: 24px;">
                    <button class="btn secondary">Log in</button>
                    <button class="btn primary">Sign up</button>
                </div>
            </div>
        </div>
    </div>
</header>