<div id="notification">
    <div class="content pds-border-2 pds-radius-12 {{BackgroundColor}}">
        <div class="top">
            <a id="close" class="pds-button pds-bg-color-negative pds-icon pds-radius-4">
                <img src="{{CloseIcon}}" alt="Close Button">
            </a>
            <h1 class="pds-text-size-24">{{Title}}</h1>
            <img src="{{NotificationIcon}}" alt="Notification Icon">
        </div>
        <p class="pds-text-size-16">{{Message}}</p>
    </div>
</div>