<section id="signup">
    <div class="container">
        <h1 class="pds-text-size-32 pds-text-weight-900">Inscription</h1>
        <div class="top">
            <form action="" method="post">
                <div class="name pds-border-2 pds-border-color-light pds-radius-4">
                    <label for="name"><img src="{{AccountIcon}}" alt="Account Icon"></label>
                    <input type="text" name="name" id="name" class="pds-text-size-16 pds-text-weight-600" placeholder="Nom d'utilisateur" required>
                </div>
                <div class="email pds-border-2 pds-border-color-light pds-radius-4">
                    <label for="email"><img src="{{MailIcon}}" alt="Mail Icon"></label>
                    <input type="email" name="email" id="email" class="pds-text-size-16 pds-text-weight-600" placeholder="E-Mail" required>
                </div>
                <div class="birthdate pds-border-2 pds-border-color-light pds-radius-4">
                    <label for="birthdate"><img src="{{DateIcon}}" alt="Cate Icon"></label>
                    <input type="date" name="birthdate" id="birthdate" class="pds-text-size-16 pds-text-weight-600" placeholder="Date de naissance" required>
                </div>
                <div class="password pds-border-2 pds-border-color-light pds-radius-4">
                    <label for="password"><img src="{{LockIcon}}" alt="Lock Icon"></label>
                    <input type="password" name="password" id="password" class="pds-text-size-16" placeholder="Mot de passe" required>
                </div>
                <div class="password pds-border-2 pds-border-color-light pds-radius-4">
                    <label for="password-confirm"><img src="{{LockIcon}}" alt="Lock Icon"></label>
                    <input type="password" name="password-confirm" id="password-confirm" class="pds-text-size-16" placeholder="Tappez le mot de passe à nouveau" required>
                </div>
                <div class="submit pds-button pds-bg-color-accent pds-radius-4">
                    <input type="submit" id="submit" value="Inscription" class="pds-button pds-text-size-16 pds-text-weight-600">
                </div>
            </form>
        </div>
    </div>
</section>