#navbar {
    width: 100%;
    position: fixed;
}

#navbar nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar .left {
    display: flex;
    align-items: center;
}

#navbar .left > * {
    margin: 0 8px;
}

#navbar .right {
    display: flex;
    align-items: center;
}

#navbar .right > * {
    margin: 0 4px;
}