/* --+ PROFIT DESIGN SYSTEM +-- */
/* --+ TABLE OF CONTENT +--

- Reset
- Container
- Variables
- Fonts
- Text
- Colors
- Buttons

*/
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: 'Outfit', sans-serif;
    color: var(--color-text);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

:root {
    --color-primary: #4d00ff;
    --color-secondary: #1e96fc;
    --color-tertiary: #d6d4e3;
    --color-positive: #0efB89;
    --color-negative: #bf1a2f;
    --color-accent: #dd57bc;
    --color-light: #ffffff;
    --color-dark: #2a1e28;
}

/* --+ CONTAINER +-- */
.container {
    margin: 0 auto;
    width: 960px;
}

@media screen and (max-width: 972px) {
    .container {
        max-width: calc(100vw - 16px);
    }
}

/* --+ FONTS +-- */

.pds-font-rozhaone { font-family: 'Rozha One', serif; }
.pds-font-outfit { font-family: 'Outfit', sans-serif; }

/* --+ TEXT +-- */
.pds-text-size-12 { font-size: 12px; }
.pds-text-size-16 { font-size: 16px; }
.pds-text-size-24 { font-size: 24px; }
.pds-text-size-32 { font-size: 32px; }
.pds-text-size-48 { font-size: 48px; }
.pds-text-size-64 { font-size: 64px; }
.pds-text-size-96 { font-size: 96px; }

.pds-text-weight-100 { font-weight: 100; }
.pds-text-weight-200 { font-weight: 200; }
.pds-text-weight-300 { font-weight: 300; }
.pds-text-weight-400 { font-weight: 400; }
.pds-text-weight-500 { font-weight: 500; }
.pds-text-weight-600 { font-weight: 600; }
.pds-text-weight-700 { font-weight: 700; }
.pds-text-weight-800 { font-weight: 800; }
.pds-text-weight-900 { font-weight: 800; }

/* --+ COLORS +-- */
.pds-color-primary, .pds-color-blue { color: var(--color-primary); }
.pds-color-secondary, .pds-color-dodgerblue { color: var(--color-secondary); }
.pds-color-tertiary, .pds-color-palepurple { color: var(--color-tertiary); }
.pds-color-positive, .pds-color-springgreen { color: var(--color-positive); }
.pds-color-negative, .pds-color-redncs { color: var(--color-negative); }
.pds-color-accent, .pds-color-rosepink { color: var(--color-accent); }
.pds-color-light, .pds-color-white { color: var(--color-light); }
.pds-color-dark, .pds-color-coal { color: var(--color-dark); }

.pds-bg-color-primary, .pds-bg-color-blue { background-color: var(--color-primary); color: var(--color-light); }
.pds-bg-color-secondary, .pds-bg-color-dodgerblue { background-color: var(--color-secondary); color: var(--color-dark); }
.pds-bg-color-tertiary, .pds-bg-color-palepurple { background-color: var(--color-tertiary); color: var(--color-dark); }
.pds-bg-color-positive, .pds-bg-color-springgreen { background-color: var(--color-positive); color: var(--color-light); }
.pds-bg-color-negative, .pds-bg-color-redncs { background-color: var(--color-negative); color: var(--color-light); }
.pds-bg-color-accent, .pds-bg-color-rosepink { background-color: var(--color-accent); color: var(--color-dark); }
.pds-bg-color-light, .pds-bg-color-white { background-color: var(--color-light); color: var(--color-dark); }
.pds-bg-color-dark, .pds-bg-color-coal { background-color: var(--color-dark); color: var(--color-light); }

/* --+ BUTTONS +-- */
.pds-button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 4px;
    padding: 4px 8px;
}

.pds-button:hover {
    cursor: pointer;
}

